.header__lang-link {
    margin: 0;
    padding-top: 1%;
    font-size: 1.18rem;
    line-height: 1.25rem;
    display: flex;
    align-items: center;
    column-gap: 1.125rem;
}

@media screen and (min-width:768px) {
    .header__lang-link {
        margin: 0;
        padding-top: 1%;
        font-size: 1.5rem;
        line-height: 1.75rem;
        display: flex;
        align-items: center;
        column-gap: 1.125rem;
    }
}

@media screen and (min-width:1024px) {
    .header__lang-link {
        margin: 0;
        padding-top: 1%;
        font-size: 1.5rem;
        line-height: 1.75rem;
        display: flex;
        align-items: center;
        column-gap: 1.125rem;
    }
}

@media screen and (min-width:1280px) {
    .header__lang-link {
        margin: 0;
        padding-top: 1%;
        font-size: 1.5rem;
        line-height: 1.75rem;
        display: flex;
        align-items: center;
        column-gap: 1.125rem;

    }
}