.places {
    margin: 20% auto 0;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    row-gap: 3.125rem;
}

@media screen and (min-width:768px) {
    .places {
        margin: 11.459% auto 0;
        width: 93.75%;
        row-gap: 4.5625rem;
    }
}

@media screen and (min-width:1024px) {
    .places {
        margin: 8.985% auto 0;
        width: 90.235%;
        row-gap: 5rem;
    }
}

@media screen and (min-width:1280px) {
    .places {
        margin: 7.188% auto 0;
        width: 76.875%;
    }
}