.intro__list {
    list-style-type: none;
    margin: 11.809% 0 0 0;
    padding-left: 0;
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 700;
}

@media screen and (min-width:768px) {
    .intro__list {
        margin: 4.584% 0 0 0;
    }
}

@media screen and (min-width:1024px) {
    .intro__list {
        margin: 4.783% 0 0 0;
    }
}

@media screen and (min-width:1280px) {
    .intro__list {
        font-size: 0.75rem;
    }
}