.cover__subtitle {
    position: relative;
    width: 90%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: 400;
    z-index: 3;
}

@media screen and (min-width:768px) {
    .cover__subtitle {
        width: 46.875%;
        font-size: 1.125rem;
        line-height: 1.375rem;
    }
}

@media screen and (min-width:1024px) {
    .cover__subtitle {
        width: 35.157%;
    }
}

@media screen and (min-width:1280px) {
    .cover__subtitle {
        width: 30.406%;
    }
}