.place__paragraph {
    margin: 0 auto;
    padding-top: 18%;
    font-size: 1rem;
    line-height: 1.63rem;
    font-weight: 400;
    justify-content: start;

}

@media screen and (min-width:768px) {
    .place__paragraph {
        margin: 0 auto;
        font-size: 1rem;
        line-height: 1.63rem;
        font-weight: 400;
        grid-area: paragraph;
        justify-content: start;
        align-content: flex-start;
        padding-top: 0;
    }
}

@media screen and (min-width:1024px) {
    .place__paragraph {
        margin: 0;
        font-size: 1rem;
        line-height: 1.63rem;
        font-weight: 400;
        grid-area: paragraph;
        justify-content: start;
        align-content: start;
        padding-top: 0;
    }
}

@media screen and (min-width:1280px) {
    .place__paragraph {
        margin: 0;
        font-size: 1rem;
        line-height: 1.63rem;
        font-weight: 400;
        grid-area: paragraph;
        justify-content: start;
        align-content: start;
        padding-top: 0;
    }
}