.place__paragraph {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 10% auto 0;
    font-size: 1rem;
    line-height: 1.63rem;
    font-weight: 400;
    justify-content: start;
    row-gap: 1.5625rem;

}

@media screen and (min-width:768px) {
    .place__paragraph {
        margin: 0;
        width: 100%;
        grid-area: paragraph;
        align-content: flex-start;
    }
}

@media screen and (min-width:1024px) {
    .place__paragraph {
        row-gap: 1.625rem;
    }
}