.footer__copyright {
    font-size: 0.875rem;
    line-height: 0.875rem;
    font-weight: 400;
    color: #fff;
    margin: 16.67% 0 8.335%;
}

@media screen and (min-width:768px) {
    .footer__copyright {
        margin: 0 0 3.473%;
    }
}

@media screen and (min-width:1024px) {
    .footer__copyright {
        margin: 0 0 2.605%;
    }
}

@media screen and (min-width:1280px) {
    .footer__copyright {
        margin: 0 0 2.084%;
    }
}