.lead__image {
    padding-top: 12%;
    max-width: 100%;
    height: auto;
}

@media screen and (min-width:768px) {
    .lead__image {
        padding-top: 7%;
        max-width: 100%;
        height: auto;
    }
}

@media screen and (min-width:1024px) {
    .lead__image {
        padding-top: 5.5%;
        margin: 0 auto;
        max-width: 91%;
        height: auto;
    }
}

@media screen and (min-width:1280px) {
    .lead__image {
        padding-top: 5%;
        margin: 0 auto;
        max-width: 77%;
        height: auto;
    }
}