.intro {
    width: 90%;
    margin: 20% auto 0;
    display: flex;
    flex-direction: column;
    align-content: start;
    color: #fff;
}

@media screen and (min-width:768px) {
    .intro {
        width: 93.75%;
        margin: 11.459% auto 0;
    }
}

@media screen and (min-width:1024px) {
    .intro {
        width: 67.383%;
        margin: 11.133% 27.93% 0 4.688%;
    }
}

@media screen and (min-width:1280px) {
    .intro {
        width: 53.9063%;
        margin: 7.188% 34.532% 0 11.563%;
    }
}