.cover__background {
    display: block;
    width: 100%;
    background-image: url(../../../images/__background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width:768px) {
    .cover__background {
        display: block;
        width: 100%;
        background-image: url(../../../images/__background.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (min-width:1024px) {
    .cover__background {
        display: block;
        width: 100%;
        background-image: url(../../../images/__background.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (min-width:1280px) {
    .cover__background {
        display: block;
        width: 100%;
        background-image: url(../../../images/__background.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}