.lead__caption {
    padding-top: 2.5%;
    padding-left: 5%;
    color: #fff;
    margin: 0;
    font-size: 0.625rem;
    line-height: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.0938rem;
    text-transform: uppercase;
}

@media screen and (min-width:768px) {
    .lead__caption {
        padding-top: 1.042%;
        padding-left: 3.125%;
    }
}

@media screen and (min-width:1024px) {
    .lead__caption {
        padding-top: 0.782%;
        padding-left: 4.688%;
    }
}

@media screen and (min-width:1280px) {
    .lead__caption {
        padding-top: 0.625%;
        padding-left: 11.4%;
    }
}