.cover__title {
    position: relative;
    width: 90%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    font-size: 2rem;
    align-self: center;
    line-height: 2.1875rem;
    font-weight: 900;
    z-index: 3;
}

@media screen and (min-width:768px) {
    .cover__title {
        width: 72.917%;
        font-size: 4.5rem;
        line-height: 4.76rem;
        z-index: 3;
    }
}

@media screen and (min-width:1024px) {
    .cover__title {

        width: 54.688%;
    }
}

@media screen and (min-width:1280px) {
    .cover__title {
        width: 47.298%;
    }
}