.place {
    margin: 0;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, auto);
}

@media screen and (min-width:768px) {
    .place {
        grid-template-columns: 47.223% 48.89%;
        grid-template-rows: repeat(2, minmax(min-content, max-content));
        grid-template-areas:
            "title website"
            "image paragraph";
        column-gap: 1.75rem;
        row-gap: 3rem;
    }
}

@media screen and (min-width:1024px) {
    .place {
        grid-template-columns: 44.716% 46.342%;
        column-gap: 2rem;
    }
}

@media screen and (min-width:1280px) {
    .place {
        grid-template-columns: 46.748% 49.187%;
        column-gap: 2.5rem;
    }
}