.intro__title {
    margin: 0;
    font-size: 2rem;
    line-height: 2.1875rem;
    font-weight: 900;
}

@media screen and (min-width:768px) {
    .intro__title {
        font-size: 3.375rem;
        line-height: 3.625rem;
    }
}